<div class="thematic-section__container swiper">
    <div class="thematic-section__card-container swiper-wrapper">
        {% for book in books %}
        <div class="book-mini-card _mobile-size swiper-slide">
            <a href="/book-card/{{book.id}}">
                <img src="{{book.cover.getThumb(104,150)}}"
                     class="book-mini-card__image"
                     alt="Обложка"
                     loading="lazy"/>
                <div class="book-mini-card__title">
                    {{book.title}}
                </div>
            </a>
            <!--            {% if withPrice %}-->
            <!--            <div class="book-mini-card__price" data-tooltip="Электронная книга">-->
            <!--                <svg>-->
            <!--                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#book-16' | theme}}"></use>-->
            <!--                </svg>-->
            <!--                {% partial 'book/book-price' edition=book.ebook %}-->
            <!--            </div>-->
            <!--            {% endif %}-->
        </div>
        {% endfor %}
    </div>
    <div class="thematic-section__nav _left">
        <svg>
            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24' | theme}}"></use>
        </svg>
    </div>
    <div class="thematic-section__nav _right">
        <svg>
            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24' | theme}}"></use>
        </svg>
    </div>
</div>
