<div class="thematic-section__container swiper">
    <div class="thematic-section__card-container swiper-wrapper">
        {% for book in books %}
            <div class="_mobile-size swiper-slide">
                <a class="book-mini-card" href="/book-card/{{ book.id }}">
                <div class="book-mini-card__image">
                        <img src="{{ book.cover.getThumb(190,300) }}"
                             alt="Обложка для книги {{ book.title }}"
                             loading="lazy"/>
                    {% if book.ebook.priceTag.discountExists %}
                        {% partial 'SaleTagBlock::default' discountInfo = book.ebook.priceTag.getDiscountInfo %}
                    {% endif %}
                </div>
                <div class="book-mini-card__title">
                    {{ book.title }}
                </div>
                </a>
                {% if book.ebook.discount_exists %}
                    <div class="book-mini-card__price ui-tooltip" data-tooltip="Электронная книга">
                        <svg>
                            <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#book-16' | theme }}"></use>
                        </svg>
                        {% partial 'book/book-price' edition=book.ebook %}
                    </div>
                {% endif %}
            </div>
            </a>
            {% if book.ebook.priceTag.discountExists %}
            <div class="book-mini-card__price ui-tooltip" data-tooltip="Электронная книга">
                <svg>
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#book-16' | theme}}"></use>
                </svg>
                {% partial 'book/book-price' edition=book.ebook %}
            </div>
            {% endif %}
            {% if book.audiobook.priceTag.discountExists %}
            <div class="book-mini-card__price ui-tooltip" data-tooltip="Аудиокнига">
                <svg>
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#audio-16' | theme}}"></use>
                </svg>
                {% partial 'book/book-price' edition=book.audiobook %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="thematic-section__nav _left">
        <svg>
            <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24' | theme }}"></use>
        </svg>
    </div>
    <div class="thematic-section__nav _right">
        <svg>
            <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24' | theme }}"></use>
        </svg>
    </div>
</div>
