{% set typeEbook = constant('Books\\Book\\Classes\\Enums\\EditionsEnums::Ebook') %}
{% set typeAudiobook = constant('Books\\Book\\Classes\\Enums\\EditionsEnums::Audio') %}

{% set ebook = book.editions.where('type', typeEbook).first %}
{% set audiobook = book.editions.where('type', typeAudiobook).first %}

<div class="thematic-section__container swiper">
    <div class="thematic-section__card-container swiper-wrapper">
        {% for book in books %}
        <div class="book-mini-card _mobile-size swiper-slide">
            <a href="/book-card/{{ book.id }}">
                <div class="book-mini-card__image">
                    <noindex>
                    <img src="{{ book.cover.getThumb(190,300) }}"
                         class="book-mini-card__image"
                         alt="Обложка для книги {{ book.title }}"
                         loading="lazy"/>
                    </noindex>
                    {% if ebook.priceTag.discountExists %}
                    {% partial 'SaleTagBlock::default' discountInfo = ebook.priceTag.getDiscountInfo %}
                    {% endif %}
                </div>
                <div class="book-mini-card__title">
                    {{ book.title }}
                </div>
            </a>
            {% if ebook.priceTag.discountExists %}
            <div class="book-mini-card__price ui-tooltip" data-tooltip="Электронная книга">
                <svg>
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#book-16' | theme}}"></use>
                </svg>
                {% partial 'book/book-price' edition=ebook %}
            </div>
            {% endif %}
            {% if audiobook.priceTag.discountExists %}
            <div class="book-mini-card__price ui-tooltip" data-tooltip="Аудиокнига">
                <svg>
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#audio-16' | theme}}"></use>
                </svg>
                {% partial 'book/book-price' edition=audiobook %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="thematic-section__nav _left">
        <svg>
            <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24' | theme }}"></use>
        </svg>
    </div>
    <div class="thematic-section__nav _right">
        <svg>
            <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24' | theme }}"></use>
        </svg>
    </div>
</div>