<div class="adult-modal ui-modal" id="confirm">
    <div class="ui-modal-container">
        <div class="ui-modal-content adult-modal__content">
            <div class="adult-modal__limit ui-text--bold adult-modal__wrap ui-text-body--1">
                &thinsp;
                &nbsp;
                <svg class="square-24" style="color:#333435; cursor: default">
                    <use
                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#info-stroked-24' | theme}}"></use>
                </svg>
                &nbsp;
                &thinsp;

            </div>
            <div class="ui-text-head--2 ui-text--bold adult-modal__wrap" >Подтвердите <br> действие</div>
            <div class=" adult-modal__wrap" id="confirmMessage"></div>

            <button id="confirmYes"
                    class="header__actions-auth-button ui-button ui-button-view--2 ui-button-size--32 ui-button--full">
                Да
            </button>
            <button id="confirmNo"
                    class="header__actions-auth-button ui-button ui-button-view--3 ui-button-size--32 ui-button--full">
                Нет
            </button>
        </div>
    </div>
</div>

