description = "Default layout"
[profile]
[genres genres_parented]
[favorite_genres]
[searcher]
[bookAccount]
paramCode = "code"
forceSecure = 0
requirePassword = 0
[bookCard]
[NotificationsInHeader]
recordsPerView = 11
[BalanceDeposit]
[AuthorSupport]
==
<!DOCTYPE html>
<html lang="ru">
<head>
    {% partial 'site/meta' %}
    {% partial 'site/yandex_metrika' %}
    {% partial 'site/vk_pixel' %}
</head>
<body class="{{ 'page-'~this.page.id }}">

<div id='post_register_container' ></div>
<div id='adult_modal_spawn' ></div>
<!-- Header -->
<header id="layout-header" class="header">
    {% partial 'site/header' %}
</header>
<!-- Content -->
<section id="layout-content">
    {% page %}
</section>

<!-- Footer -->
<div class="footer-space"></div>
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>
{% ajaxPartial 'controls/flash' %}
</body>
</html>
