description = "Default layout"
[session]
[profile]
[bookAccount]
[genres genres_parented]
[favorite_genres]
[searcher]
paramCode = "code"
forceSecure = 0
requirePassword = 0
[NotificationsInHeader]
recordsPerView = 11
[OperationHistoryInHeader]
recordsPerView = 11
[BalanceDeposit]
[bookCard]
[AuthorSupport]
[socialconnect]
[Breadcrumbs]
[CertificateModal]
==
<!DOCTYPE html>
<html lang="ru">
<head prefix="og: http://ogp.me/ns#">
    {% partial 'site/meta' %}
    {% partial 'site/yandex_metrika' %}
    {% partial 'site/vk_pixel' %}
</head>
<body class="{{ 'page-'~this.page.id }}" data-user="{{user ? 1: 0}}">
<script>
    localStorage.setItem('user',`{{user|raw}}`)
</script>

<!-- Header -->
<header id="layout-header" class="header">
    <div id='modal-spawn'></div>
    {% partial 'site/header' %}
</header>

<!-- Content -->
<section id="layout-content">
    {% page %}
</section>

<!-- Footer -->
<div class="footer-space"></div>
<footer id="layout-footer">
    {% partial 'site/footer' %}
    {% component 'CertificateModal' %}
    <div id="certificate-modal"></div>
</footer>
{% ajaxPartial 'controls/flash' %}
{% partial 'modals/confirm' %}
</body>
</html>
