description = "Personal area layout"
[session]
security = "all"
[genres genres_parented]
==
{% component 'session' %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% partial 'site/meta' %}
</head>
<body class="{{ 'page-'~this.page.id }}">

<!-- Header -->
<header id="layout-header" class="header">
    {% partial 'site/header' %}
</header>

<!-- Content -->
<section id="layout-content">
    <div style="margin-bottom: 16px"> </div>
    <div class="ui-container">
        <div class="personal-area__title ui-text-head--2 ui-text--bold">Личный кабинет</div>
    </div>
    <div class="personal-area">
        <div class="ui-container-fluid">
            {% page %}
        </div>
    </div>

</section>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>
</body>
</html>
