<div id="about-header" class="about-book__header ui-container-fluid">
    <div class="listing-book__book book-card">
        <div class="book-card__body">
            <div class="book-card__column-left">
                <a href="/book-card/{{book.id}}">
                    <img class="book-card__image"
                         src="{{ book.cover.path }}"
                         style="object-fit: fill"
                         alt=""
                         loading="lazy"/>
                </a>
            </div>
            <div class="book-card__column-right">
                <a href="/book-card/{{book.id}}"
                   class="book-card__title ui-text-head--2 ui-text--bold">{{book.title}}</a>
                <div class="book-card__raiting">
                    <svg>
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#star-filled-16' | theme}}"></use>
                    </svg>
                    <span>{{book.stats.rate ?:0}}</span>
                </div>
                <div class="book-card__body-footer">

                    <div class="book-card__book-list tags-list">
                        {% partial 'controls/genres-link-list' genres=book.genres %}
                    </div>
                </div>
                <div class="book-card__genres tags-list">
                    {% partial 'controls/tags-link-list' tags=book.tags %}
                </div>
                {% partial 'site/book-status' status=book.ebook.status %}

                {% if book.ebook.is_deferred %}
                <div class="chapter-book__info-container">
                    <div class="chapter-book__status">

                        <svg class="square-16 attention">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#info-stroked-24' | theme}}"></use>
                        </svg>

                        <span>Отложенное редактирование&nbsp;</span>
                        <span class="ui-tooltip square-16"
                              data-tooltip="Редактирование глав только через подтверждение от администратора">
                              <svg class="square-16">
                            <use
                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#questions-stroked-circle-16' | theme}}"></use>
                        </svg>
                        </span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
