<div class="card-popover _size">
    <div class="card-popover__wrapper">
        <span>Автор: </span> Александр Рем
    </div>
    <div class="card-popover__wrapper">
        <span>Жанры: </span>  <a href="#" class="ui-link _violet">ЛитРПГ</a>, <a href="#" class="ui-link _violet">Космос</a>
    </div>
    <div class="card-popover__wrapper">
        <span>Аннотация :</span> {{ book.annotation|raw }}
    </div>
    <div class="card-popover__wrapper">
        <a href="#" class="ui-link _violet">Маги</a>, <a href="#" class="ui-link _violet">Приключения</a>
    </div>
</div>
