{% set ebook = book.getEbook %}
{% set audiobook = book.getAudiobook %}

<div class="book-card__info">
    {% if ebook and ebook.isVisible %}
    <div class="book-card__info-wrapper">
        {% partial 'book/edition-info' edition=ebook %}
        {% partial 'site/book-status' edition=ebook %}
        {% if ebook.sales_at %}
            <div class="book-card__info-dot"></div>
            <div class="book-card__info-wrap _text">{{ carbon(ebook.sales_at).format('d.m.y') }}</div>
        {% endif %}
        <div class="book-card__info-dot"></div>
        {% if ebook.length %}
            <div class="book-card__info-wrap _text">{{ebook.length}}&thinsp;зн.</div>
        {% endif %}
    </div>
    {% endif %}
    {% if audiobook and audiobook.isVisible %}
    <div class="book-card__info-wrapper">
        {% partial 'book/edition-info' edition=audiobook %}
        {% partial 'site/book-status' edition=audiobook %}
        {% if audiobook.sales_at %}
        <div class="book-card__info-dot"></div>
        <div class="book-card__info-wrap _text">{{ carbon(audiobook.sales_at).format('d.m.y') }}</div>
        {% endif %}
        <div class="book-card__info-dot"></div>
        {% if audiobook.length %}
        <div class="book-card__info-wrap _text">{{ audiobook.audio_length }}&thinsp;</div>
        {% endif %}
    </div>
    {% endif %}
</div>