<form class="personal-area__wrapper">
    <div class="personal-area__wrap _indent-large ui-text--bold ui-text-head--2">Общие настройки</div>

    <div class="ui-grid-container ui-grid-gap">
        <div class="personal-area__wrap _indent-large ui-input ui-col-md-7">
            <label class="ui-input-label">Электронная почта</label>
            <input class="ui-input-item _size-32" type="text" value="unban@mail.ru">
        </div>
    </div>

    <div class="personal-area-profile__date personal-area__wrap _indent-large">
        <div class="ui-input">
            <label class="ui-input-label">Дата рождения</label>
            <input class="ui-input-item _size-32" type="text" value="11.02.1990">
        </div>
        <label class="ui-checkbox">
            <input type="checkbox" hidden>
            <div class="ui-checkbox-checker">
                <svg>
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-filled-square-16' | theme}}"></use>
                </svg>

            </div>
            <span class="ui-checkbox-text">Показывать дату рождения</span>
        </label>
    </div>


    <div class="personal-area__wrap _indent-large ui-select">
        <div class="ui-select-header">
            <label class="ui-select-label">Страна</label>
        </div>
        <div class="ui-select-container">
            <div class="ui-select-item _size-32">
                <div class="ui-select-item-option">Российская федерация</div>
                <svg class="ui-select-item-icon">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-down-16' | theme}}"></use>
                </svg>
            </div>
            <div class="ui-dropdown">
                <div class="ui-dropdown-container">
                    <div class="ui-dropdown-item active">
                        <svg>
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-stroked-16' | theme}}"></use>
                        </svg>
                        <span>Российская федерация</span>
                    </div>
                    <div class="ui-dropdown-item">
                        <svg>
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-stroked-16' | theme}}"></use>
                        </svg>
                        <span>ЮАР</span>
                    </div>
                    <div class="ui-dropdown-item ">
                        <svg>
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-stroked-16' | theme}}"></use>
                        </svg>
                        <span>Караганда</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="ui-button ui-button-size--32 ui-button-view--2 ui-text--medium">Сохранить</button>
</form>

<div class="personal-area__wrapper">
    <div class="personal-area__wrap _indent-large ui-text--bold ui-text-head--2">Изменение пароля</div>

    <div class="ui-grid-gap ui-grid-container personal-area__wrap _indent-large">
        <div class="ui-input personal-area__wrap ui-col-md-7">
            <label class="ui-input-label">Текущий пароль</label>
            <input class="ui-input-item _size-32 personal-area__wrap _indent-small" type="password">
            <a class="ui-link _violet ui-text-body--3" href="#">Забыли пароль?</a>
        </div>

        <div class="ui-input personal-area__wrap ui-col-md-7">
            <label class="ui-input-label">Новый пароль</label>
            <input class="ui-input-item _size-32 personal-area__wrap" type="password">
        </div>

        <div class="ui-input personal-area__wrap ui-col-md-7">
            <label class="ui-input-label">Подтверждение пароля</label>
            <input class="ui-input-item _size-32 personal-area__wrap" type="password">
        </div>
    </div>

    <button class="ui-button ui-button-size--32 ui-button-view--2 ui-text--medium personal-area__wrap _indent-large">
        Сохранить
    </button>
</div>

<div class="personal-area__wrapper">
    <div class="personal-area__wrap _indent-large ui-text--bold ui-text-head--2">Рекомендации</div>
    <div class="recommend_spawn">
        {% partial 'personal-area/recommend_section' %}
    </div>
</div>
