
<div  class="auth" >
    <form  class="auth__container _small"
           data-request="{{ __SELF__ }}::onResetPassword"
           data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'"
    >
        <div class="auth__header _desktop">
            <svg class="square-24 auth__button-back active">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
            </svg>
            <div class="auth__title ui-text--bold">Восстановление пароля</div>

        </div>
        <div class="auth__body">
            <div class="auth__addition">
                Проверьте почту на наличие кода восстановления.
            </div>
            <div class="auth__form-container">
                <div class="ui-input-wrapper">
                    <input class="ui-input-item _size-32" name="code" type="text" id="resetCode" placeholder="Введите код" value="{{ __SELF__.code }}">
                    <span class="validation-error" data-validate-for="code"></span>
                </div>
                <div class="ui-input-wrapper">
                    <input class="ui-input-item _size-32" name="password" type="password" id="resetPassword" placeholder="Введите новый пароль">
                    <span class="validation-error" data-validate-for="password"></span>
                </div>
            </div>


            <button  type="submit" class="auth__action ui-button ui-button-size--32 ui-button-view--2 ui-button--full ">
                <span class="ui-text--medium">Восстановить</span>
            </button>
        </div>
    </form>
</div>
