url = "/payment/charge/:order_id?"
[session]
security = "user"
redirect = "/"
[Payment]
==
<!DOCTYPE html>
<html>
<head>
    <title>Оплата заказа #{{ order_id }}</title>
    {% if paymentData %}
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
    {% endif %}
</head>
<body>
{% if paymentData %}
<script>
    let amount = {{ paymentData.amount }};

    var payments = new cp.CloudPayments({
        language: "ru-RU",
        email: "{{ paymentData.email }}",
        applePaySupport: true,
        googlePaySupport: true,
        yandexPaySupport: true,
        tinkoffInstallmentSupport: true,
    });

    payments.pay("charge", {
        publicId: "pk_921ac135b2bf46d6847d105d9ae06",
        description: "{{ paymentData.description }}",
        amount: amount,
        currency: "RUB",
        invoiceId: "{{ paymentData.invoiceId }}",
        accountId: "{{ paymentData.accountId }}",
        email: "",
        skin: "classic",
        requireEmail: true,
        data: {
            paymentId: "{{ paymentData.data.paymentId}}",
            userId: "{{ paymentData.data.userId}}",
            userName: "{{ paymentData.data.userName}}",
        }
    },
    {
        onSuccess: function (options) { // success
            window.location.replace("{{ successUrl }}");
        },
        onFail: function (reason, options) { // fail
            window.location.replace("{{ errorUrl }}");
        },
    }).then(function(widgetResult) {
        console.log('result', widgetResult);
    }).catch(function(error) {
        console.log('error', error);
    });
</script>
{% endif %}
</body>
</html>


