<div class="notification-menu__text notification-menu__content-wrapper">
    <a href="{{ 'author_page' | page({profile_id: comment.user.profile.id}) }}" class="ui-link _violet">{{ comment.user.profile.username }}</a> оставил комментарий к Вашей книге "<a href="{{ 'book-card' | page({book_id: comment.commentable.id}) }}" class="ui-link _violet">{{ comment.commentable.title }}</a>"
</div>
