<div class="notification-menu__text notification-menu__content-wrapper">
    {% set parentTitle = comment.parent.deleted_at ? '*Комментарий удалён*' : (comment.parent.content | length > 100 ? comment.parent.content | slice(0, 100) ~ '...' : comment.parent.content) %}
    <a href="{{ 'author_page' | page({profile_id: comment.profile.id}) }}" class="ui-link _violet">{{ comment.profile.name }}</a> оставил(а) комментарий к Вашей записи "<a href="{{ comment.toCommentableLink }}" class="ui-link _violet">{{ parentTitle }}</a>"


</div>
