<div class="notification-menu__text notification-menu__content-wrapper">
    <a href="{{ 'author_page' | page({profile_id: profile.id}) }}" class="ui-link _violet">{{ profile.username }}</a>
    опубликовал(а) новую запись в блоге
    "<a href="{{ 'blog/blog-post' | page({post_slug: post.slug}) }}" class="ui-link _violet">{{ post.title }}</a>"
</div>

