<div class="notification-menu__message notification-menu__content-wrapper">
    <p id="{{ notification.id }}" class="notification-menu__content-wrapper" {{  not header ? 'style="line-clamp: inherit;-webkit-line-clamp: inherit"' : '' }}>
        {{ text|raw }}
    </p>
    {% if header %}
    <a href="/notifications/system/{{ notification.id }}" class="ui-link _violet">Подробнее</a>
    {% endif %}
</div>
