.ui-tabs-link {
    line-height: 20px;
    font-size: 14px;
    font-family: Inter,sans-serif;
}
.ui-tabs-header-wrapper.__shifted {
    padding-bottom: 12px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    margin-top: 0;
}
.footer-space {
    margin-top: auto;
    height: 32px;
}
.book-card__image{
    object-fit:fill!important;
}
