#login_popup, #register_popup, #register_form, #login_form  {
    display: block!important;
}
#auth_popup{
    display:flex;
}
.validation-error {
    color: red;
    font-size: 12px;
    margin: 8px 10px;
}

.tags-list a {
    text-decoration: none;
}

.tags-list a:not(:last-child):after {
    content: ', ';
}

.ui-menu-item:not(._placeholder):has(.ui-state-active) {
    background-color: var(--color-background-gray) !important;
}

.ui-dropdown-item:has(.ui-state-active) svg {
    opacity: 1;
}

.ui-select-container:has(.ui-selectmenu-button-open) > .chevron {
    display: none;
}

.ui-selectmenu-button-open ~ .chevron_up {
    display: flex;
}

.ui-selectmenu-button-open ~ .chevron_down {
    display: none;
}

.ui-selectmenu-button-closed ~ .chevron_down {
    display: flex;
}

.ui-selectmenu-button-closed ~ .chevron_up {
    display: none;
}

.ui-menu-opened .chevron_down {
    display: none !important;
}

.ui-menu-opened .chevron_up {
    display: flex !important;
}

.ui-helper-hidden-accessible {
    border: 0;
    display: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.books-autocomplete {
    padding: 0 8px;
}

.ui-multi-select-item-input {
    color: var(--color-black);
    margin-bottom: 4px;
}

.square-24, .cursor-pointer {
    cursor: pointer;
}

.ui-dropdown, .ui-front {
    display: none;
    z-index: 10000 !important;
}

.ui-dropdown.ui-selectmenu-open {
    display: block;
}

.ui-button {
    font-weight: inherit;
}

.book-card {
    margin-bottom: 16px;
}

a.disabled, .nav__list-item.disabled, .personal-area__sidebar-link.disabled {
    opacity: 0.3;
    cursor: default;
}

.dropdown-menu__container {
    z-index: 2;
}

.chapter-book__action {
    padding: 5px 0px;
}

.book-card__action .chapter-book__drag {
    margin-right: 0;
}

.about-book__chapter-container {
    margin-top: 16px;
}

.profile-avatar-image {
    height: 100%;
}

.reader__body {
    text-align: justify;
}

.comments {
    margin-top: 16px;
}

.comments-comment__sub.collapsed .comments-comment {
    display: none;
}

.comments-comment__sub.collapsed .comments-comment:nth-child(-n+5) {
    display: flex;
}

.font-darkred {
    color: darkred;
}

.attention {
    color: #cf7a7afc;
    text-decoration: underline;
    text-decoration-color: #e17e7eb3
}

.menu-mobile__footer {
    margin: 0;
}

.truncate {
    -webkit-line-clamp: 6; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}

.reader-user__user img {
    margin-right: 0 !important;
}


.book-card__image,.advert img{
    object-fit:fill!important;
}
.book-mini-card__image{
    border-radius:4px!important;
}
.notification-menu__wrapper a {
    text-decoration: none;
    color: var(--color-dark-violet);
}
.notification-menu__wrapper a:hover {
    text-decoration: underline;
    color: var(--color-violet);
}
.notification-menu__content-wrapper p{
    word-break: break-word!important;
}
.reader{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.reader__body{
    position: relative;
}
.reader__body iframe{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
}
.comments-comment__info{
    width:100%;
}
.chapter-book__info-container:not(:last-child){
    margin-bottom: 12px;
}
