<div class="ui-container-fluid">
    <div class="ui-grid-container ui-grid-gap">
        <div class="description ui-col-md-9">
            <h2 class="ui-text-head--3 ui-text--bold">Описание сайта</h2>
            <p>
            Время книг – это новый перспективный литературный портал, сделанный с любовью специально для авторов и читателей. На нашем сайте Вы найдете разнообразие жанров и сумеете подстроить всю систему функционирования сайта под себя, чтобы видеть только лучшее из Ваших любимых жанров. Ваши предпочтения являются основой нашей работы. Вы можете полностью убрать из зоны видимости жанры, которые вам не нравятся!
            </p>
            <p>
            Каждый день мы развиваемся и стараемся сделать портал еще более удобным и современным. Для читателей создано множество гибких систем скидок и поощрений, подарков от портала. Вы не останетесь без приятного бонуса на Ваш день рождения и в любой момент сумеете найти для себя книгу по вкусу!
            </p>
            <p>
            Выгодные и простые условия для авторов, система поощрений, рекламы, обилие возможностей попасть в топы жанров! Мы создавали этот портал, зная о Ваших желаниях и учитывая их. Безграничные возможности для работы и творчества в одном месте!
                Портал «Время книг» создан специально для Вас!
            </p>

        </div>
    </div>
</div>
