<div class="description ui-col-md-9 main-page-grid__second">
    <h2 class="ui-text-head--3 ui-text--bold">Электронная библиотека «Время книг»</h2>
    <p>
        Приветствуем Вас в нашей библиотеке электронных и аудио книг. Здесь вы можете найти разнообразие жанров и подобрать любую книгу на Ваш вкус.
        А также скачать новинки в форматах epub, mobi, fb2, pdf, txt, читать онлайн бесплатно, слушать аудио, поддержать любимые комиксы, создать чат по интересам, общаться с любимыми авторами, создать свой магазин, покупать и продавать товары и многое другое.
        Присоединяйтесь к нам!
    </p>
</div>