<footer class="footer _indent _color">
    <div class="ui-container">
        <div class="footer__warning">
            <div class="footer__warning-label">18+</div>
            <span>Внимание! Сайт может содержать материалы, не предназначенные для просмотра лицами, не достигшими 18 лет</span>
        </div>
        <nav class="footer__nav ui-grid-container ui-grid-gap">
            <div class=" ui-col-md-4 ui-col-sm-6">
                <a href="#" class="footer__link">Новости</a>
                <a href="#" class="footer__link">Правообладателям</a>
                <a href="#" class="footer__link">Справка авторам и читателям</a>
                <a href="#" class="footer__link">Оплата</a>
                <a href="#" class="footer__link">О сайте</a>
                <a href="#" class="footer__link">Контакты</a>
            </div>
            <div class="ui-col-md-4 ui-col-sm-6">
                <a href="#" class="footer__link">Пользовательское соглашение</a>
                <a href="#" class="footer__link">Соглашение о конфеденциальности</a>
                <a href="#" class="footer__link">Правила размещения авторского контента</a>
            </div>
            <div class="footer-social ui-col-md-4 ui-col-sm-6">
                <span>Мы в социальных сетях</span>
                <svg>
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#logo-vk-28"></use>
                </svg>
                <svg>
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#logo-telegram-28"></use>
                </svg>
            </div>
        </nav>
        <div class="footer__footer">© 2022, Время книг</div>
    </div>
</footer>
