<footer class="footer _color">
    <div class="ui-container">
        <div class="footer__warning">
            <div class="footer__warning-label">18+</div>
            <span>Внимание! Сайт может содержать материалы, не предназначенные для просмотра лицами, не достигшими 18 лет</span>
        </div>
        <nav class="footer__nav ui-grid-container ui-grid-gap">
            <div class=" ui-col-md-4 ui-col-sm-6">
                <a href="#" target="_blank" class="footer__link">Новости</a>
                <a href="/copyright-holders" target="_blank" class="footer__link">Правообладателям</a>
                <a href="/faq" target="_blank" class="footer__link">Справка авторам и читателям</a>
                <!--                <a href="#" target="_blank" class="footer__link">Оплата</a>-->
                <a href="/about" target="_blank" class="footer__link">О сайте</a>
                <a href="/contacts" target="_blank" class="footer__link">Контакты</a>
            </div>
            <div class="ui-col-md-4 ui-col-sm-6">
                <a href="/terms-of-use" target="_blank" class="footer__link">Пользовательское соглашение</a>
                <a href="/privacy-agreement" target="_blank" class="footer__link">Соглашение о конфиденциальности</a>
                <a href="/edoc" target="_blank" class="footer__link">Электронный документооборот</a>
            </div>
            <div class="footer-social ui-col-md-4 ui-col-sm-6">
                <span>Мы в социальных сетях</span>
                <a href="https://vk.com/bookstimeru" target="_blank">
                    <svg>
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#logo-vk-28' | theme}}"></use>
                    </svg>
                </a>
                <a href="https://t.me/+bnniJiUjLmZmNGI6" target="_blank">
                    <svg>
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#logo-telegram-28' | theme}}"></use>
                    </svg>
                </a>
                <a href="https://ok.ru/group/70000002517701" target="_blank">
                    <svg>
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#logo-odnaklasniki-28' | theme}}"></use>
                    </svg>
                </a>
                <a href="https://dzen.ru/user/6udklzj9l8okbmo81gi8kcojey0" target="_blank">
                    <svg>
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#logo-zen-28' | theme}}"></use>
                    </svg>
                </a>

            </div>
        </nav>
        <div class="footer__footer">© {{carbon('now').format('Y')}}, Время книг, Разработка сайта - <a
            href="https://mobecan.com/">Mobecan</a></div>
    </div>
</footer>
