security = "user"
redirect = "/"

[OperationHistoryInHeader]
operationsPerView = 11
==
<div class="header__actions">
    {% component 'Messenger' %}
    {% component 'NotificationsInHeader' %}
    {% component 'OperationHistoryInHeader' %}

    <div class="header__actions-wrapper">
        <div class="header__actions-item-logo" data-header-action="profile">
            <svg class="square-24">
                <use xlink:href=" {{'assets/icon-sprite/svg-sprite.svg#user-stroked-24' | theme}}"></use>
            </svg>
        </div>

        <div class="popup-menu _profile" data-header-action="profile">
            <div class="dropwdown-profile">
                <ul class="dropwdown-profile__list">
                    <li class="dropwdown-profile__name">{{user.profile.username~' ID:'~user.profile.id}}</li>
                    <li><a href="/author-page/{{user.profile.id}}">Моя страница</a></li>
                    <li class="dropwdown-profile__separator"></li>
                    <li><a href="/lc-profile" data-turbo="false">Личный кабинет</a></li>
                    <li><a href="/lc-books" data-turbo="false">Книги</a></li>
                    <li><a class="disabled" >Магазин</a></li>
                    <li><a href="/lc-read-statistic">Статистика прочтений</a></li>
                    <li><a href="/lc-commercial">Коммерческий кабинет</a></li>
                    <li class="dropwdown-profile__separator"></li>
                    <li class="_dropdown-item">
                        <a class="cursor-pointer" style="justify-content: space-between">
                            <span>Переключить профиль</span>
                            <svg class="square-16">
                                <use
                                    xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme}}"></use>
                            </svg>
                        </a>
                        <div class="dropwdown-profile _dropdown">
                            <ul class="dropwdown-profile__list _dropdown">
                                {% if user.profilesAsOptions.count < user.maxProfilesCount %}
                                <li data-modal="open-new-profile-modal">
                                    <a class="dropwdown-profile__link active cursor-pointer">
                                        <svg class="square-16">
                                            <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#plus-stroked-16' | theme }}"></use>
                                        </svg>
                                        <span>Создать</span>
                                    </a>
                                </li>
                                <li class="dropwdown-profile__separator"></li>
                                {% endif %}
                                {% for profile in user.profilesAsOptions %}
                                <li>
                                    <a
                                        {{profile.id != user.profile.id ? 'data-request="profile::onSwitchProfile"' : ''}}

                                       data-request-data="profile_id:{{profile.id}}"
                                       class="dropwdown-profile__link cursor-pointer {{profile.id == user.profile.id ? 'active' : ''}}">
                                        <svg class="square-16">
                                            <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-stroked-16' | theme }}"></use>
                                        </svg>
                                        <span>{{profile.username}} <span >ID:{{profile.id}}</span> </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="dropwdown-profile__separator"></li>
                    <li>
                        <a class="cursor-pointer" data-request="onLogout">
                            Выйти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

