[socialconnect]
==
<div class="header__actions-auth">
    <button class="header__actions-auth-button ui-button ui-button-view--3 ui-button-size--32"
            onclick="loginPopup()"
    >
        Войти
    </button>
    <button class="header__actions-auth-button ui-button ui-button-view--2 ui-button-size--32"
            onclick="registerPopup()"
    >
        Зарегистрироваться
    </button>
</div>

<div id="auth_popup" class="auth" style="display: none">
    <div id="login_popup" class="auth__container _small">
        <div class="auth__header _desktop">
            <svg class="square-24 auth__button-back">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
            </svg>
            <div class="auth__title ui-text--bold">Вход</div>
            <svg onclick="closeForm()" class="auth__button-close square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#close-stroked-16' | theme}}"></use>
            </svg>
        </div>
        <div class="auth__body">
            <button class="auth-item-sign _indent"
                    onclick="loginForm()"
            >
                <svg class="square-16 _mail">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#mail-filled-16' | theme}}"></use>
                </svg>
                <span class="ui-text--medium">Почта</span>
            </button>
            {% component 'socialconnect' %}
            <a href="#" class="ui-link _violet"
               onclick="registerForm()"
            >Регистрация</a>
        </div>
    </div>
    <div id="register_popup" class="auth__container _small">
        <div class="auth__header _desktop">
            <svg class="square-24 auth__button-back">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
            </svg>
            <div class="auth__title ui-text--bold">Регистрация</div>
            <svg onclick="closeForm()" class="auth__button-close square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#close-stroked-16' | theme}}"></use>
            </svg>
        </div>
        <div class="auth__body">
            <button class="auth-item-sign _indent" type="button"
                    onclick="registerForm()"
            >
                <svg class="square-16 _mail">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#mail-filled-16' | theme}}"></use>
                </svg>
                <span class="ui-text--medium">Почта</span>
            </button>
            {% component 'socialconnect' %}


            <!--            <a href="#" class="auth__button-back-desktop ui-link _violet">-->
            <!--                <svg class="square-16">-->
            <!--                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>-->
            <!--                </svg>-->
            <!--                <span>Назад</span>-->
            <!--            </a>-->

            <div class="auth__addition">
                Есть аккаунт? <a href="#" class="ui-link _violet"
                                 onclick="loginForm()"
            >Войти</a>
            </div>

            <div class="auth__addition ui-text-body--3 _color-gray">
                Регистрируясь, вы соглашаетесь с <a href="#" class="ui-link _violet">пользовательским соглашением</a> и <a
                href="#" class="ui-link _violet">политикой конфиденциальности</a>.
            </div>
        </div>
    </div>
    {% partial 'auth/registerForm' %}
    <form id="login_form" class="auth__container _small"
          data-request="bookAccount::onSignin"
          data-request-validate
          data-request-success="closeForm()"
    >
        <div class="auth__header _desktop">
            <svg class="square-24 auth__button-back active">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
            </svg>
            <div class="auth__title ui-text--bold">Вход</div>
            <svg onclick="closeForm()" class="auth__button-close square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#close-stroked-16' | theme}}"></use>
            </svg>
        </div>
        <div class="auth__body">
            <a href="#" class="auth__button-back-desktop ui-link _violet" onclick="loginPopup()"
            >
                <svg class="square-16">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
                </svg>
                <span>Назад</span>
            </a>

            <div class="auth__form-container">
                <div class="ui-input-wrapper">
                    <input class="ui-input-item _size-32" type="email" name="email" placeholder="Электронная почта">
                    <span class="validation-error" data-validate-for="email"></span>
                </div>
                <div class="ui-input-wrapper">
                    <input class="ui-input-item _size-32" type="password" name="password" placeholder="Пароль">
                    <span class="validation-error" data-validate-for="password"></span>
                </div>
            </div>

            <button type="submit" class="auth__action ui-button ui-button-size--32 ui-button-view--2 ui-button--full ">
                <span class="ui-text--medium">Войти</span>
            </button>

            <a href="/forgot-password" target="_blank" class="auth__link ui-link _violet"

            >Забыли пароль?</a>
            <a href="#" class="auth__link ui-link _violet" onclick="registerForm()"

            >Регистрация</a>
        </div>
    </form>
</div>

