<div class="header__actions">
    <div class="header__actions-wrapper">
        <div class="header__actions-item" data-header-action="message">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#message-stroked-24' | theme}}"></use>
            </svg>
            <div class="ui-label-number _red">412</div>
        </div>
        <div class="popup-menu _message" data-header-content="message">
            <div class="popup-menu__content">
                <div class="popup-menu__header popup-menu__wrapper">
                    <div class="ui-text-head--3 ui-text--bold">Чат</div>
                </div>
                <div class="popup-menu__body popup-menu__wrapper">
                    <div class="popup-menu__placeholder">
                        <svg class="square-32">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#message-stroked-24' | theme}}"></use>
                        </svg>
                        <span>Здесь пока ничего нет</span>
                    </div>

                    <div class="menu-chat">
                        <div class="menu-chat__item">
                            <div class="menu-chat__image-wrapper">
                                <img class="menu-chat__image" src="{{'assets/images/main/girl.png' | theme}}" alt="">
                            </div>
                            <div class="menu-chat__info">
                                <div class="menu-chat__info-up">
                                    <div class="menu-chat__name">Евгения Жук</div>
                                    <div class="menu-chat__time">11:06</div>
                                </div>
                                <div class="menu-chat__info-down">
                                    <div class="menu-chat__message">Евгения: Обращайтесь)</div>
                                    <div class="ui-label-number _violet">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-chat__item">
                            <div class="menu-chat__image-wrapper">
                                <img class="menu-chat__image" src="{{'assets/images/main/girl.png' | theme}}" alt="">
                            </div>
                            <div class="menu-chat__info">
                                <div class="menu-chat__info-up">
                                    <div class="menu-chat__name">Евгения Жук Евгения Жук Евгения Жук</div>
                                    <div class="menu-chat__time">11:06</div>
                                </div>
                                <div class="menu-chat__info-down">
                                    <div class="menu-chat__message">Евгения: Обращайтесь) Обращайтесь)</div>
                                    <div class="ui-label-number _violet">1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-menu__footer popup-menu__wrapper">
                    <a href="#" class="ui-button ui-button-size--32 ui-button-view--2 ui-button--full">Посмотреть
                        все</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item" data-header-action="notifications">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#notifications-stroked-24' | theme}}"></use>
            </svg>
            <div class="ui-label-number _red">4</div>
        </div>
        <div class="popup-menu _notifications" data-header-content="notifications">
            <div class="popup-menu__content">
                <div class="popup-menu__header popup-menu__wrapper">
                    <div class="ui-text-head--3 ui-text--bold">Уведомления</div>
                    <a href="#" class="popup-menu__settings">
                        <svg class="square-16">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#settings-stroked-16' | theme}}"></use>
                        </svg>
                    </a>
                </div>
                <div class="popup-menu__body popup-menu__wrapper">
                    <div class="popup-menu__placeholder">
                        <svg class="square-32">
                            <use
                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#notifications-stroked-24' | theme}}"></use>
                        </svg>
                        <span>Здесь пока ничего нет</span>
                    </div>

                    <div class="notification-menu">
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector active"></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="./assets/icon-sprite/svg-sprite.svg#book-stroked-24"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> опубликовал
                                    новую книгу «<a href="#" class="ui-link _violet">Мужская вакансия, или
                                    Женщина на борту – к несчастью</a>»
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>

                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector active"></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="./assets/icon-sprite/svg-sprite.svg#refresh-stroked-24"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> обновил книгу
                                    «<a href="#" class="ui-link _violet">Мужская вакансия, или Женщина на
                                    борту – к несчастью</a>»
                                </div>
                                <div class="notification-menu__content-wrapper">+400 знаков</div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector "></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="./assets/icon-sprite/svg-sprite.svg#blog-stroked-32"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> опубликовал
                                    новую запись в блоге «<a href="#" class="ui-link _violet">Дизайн
                                    обложки</a>»
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector "></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="./assets/icon-sprite/svg-sprite.svg#shop-stroked-32"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> Александр
                                    Алексон разместил товар в магазине «<a href="#" class="ui-link _violet">Дизайн
                                    обложки</a>»
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector "></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="./assets/icon-sprite/svg-sprite.svg#info-stroked-24"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__message notification-menu__content-wrapper">
                                    <p class="notification-menu__content-wrapper">
                                        Тут будет какой-то текст от администрации. Этот текст будет
                                        располагаться максимум на 3 строчки. Не больше не меньше. Далее
                                        просто будет обрезаться
                                    </p>
                                    <a href="#" class="ui-link _violet">Подробнее</a>
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector active"></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="./assets/icon-sprite/svg-sprite.svg#sale-stroked-24"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Скидка на книгу <a href="#" class="ui-link _violet">«Мужская вакансия,
                                    или Женщина на борту – к несчастью»</a> от <a href="#"
                                                                                  class="ui-link _violet">Александр
                                    Алексон</a>
                                </div>
                                <div
                                    class="notification-menu__price notification-menu__content-wrapper ui-text--bold">
                                    139 ₽ <span class="ui-text--lt">111 ₽</span></div>
                                <a href="#"
                                   class="notification-menu__content-wrapper ui-button ui-button-size--32 ui-button-view--2">Купить</a>
                                <div class="notification-menu__date">12.02.22</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-menu__footer popup-menu__wrapper">
                    <a href="/frontend/all-notifications.html" class="popup-menu__link ui-link _violet">Все
                        уведомления</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#bag-stroked-24' | theme}}"></use>
            </svg>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item" data-header-action="wallet">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#wallet-stroked-24' | theme}}"></use>
            </svg>
            <div class="ui-text--medium">16 500 ₽</div>
        </div>
        <div class="popup-menu _notifications" data-header-content="menu">
            <div class="popup-menu__content">
                <div class="popup-menu__header popup-menu__wrapper">
                    <div class="ui-text-head--3 ui-text--bold">История операций</div>
                </div>
                <div class="popup-menu__body popup-menu__wrapper">
                    <div class="popup-menu__placeholder">
                        <svg class="square-32">
                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#wallet-stroked-24"></use>
                        </svg>
                        <span>Здесь пока ничего нет</span>
                    </div>

                    <div class="notification-menu">
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Баланс пополнен на 1000 ₽
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Куплена книга <a href="" class="ui-link _violet">«Творческое перегорание
                                    или затишье перед бурей»</a>
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Вы получили 200 ₽ от <a href="#" class="ui-link _violet">Виктор</a>
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-menu__footer popup-menu__wrapper">
                    <a href="#" class="ui-button ui-button-size--32 ui-button-view--2 ui-button--full">Пополнить
                        баланс</a>
                    <a href="#" class="popup-menu__link ui-link _violet">Вся история операций</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item-logo" data-header-action="profile">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#user-stroked-24' | theme}}"></use>
            </svg>
        </div>

        <div class="popup-menu _profile" data-header-action="profile">
            <div class="dropwdown-profile">
                <ul class="dropwdown-profile__list">
                    <li class="dropwdown-profile__name">{{user.username}}</li>
                    <li><a href="/frontend/author-page.html">Профиль</a></li>
                    <li><a href="/frontend/author-page.html">Книги</a></li>
                    <li><a href="/frontend/author-page.html">Магазин</a></li>
                    <li><a href="/frontend/author-page.html">Подписки</a></li>
                    <li class="dropwdown-profile__separator"></li>
                    <li><a href="/frontend/lc-profile.html">Личный кабинет</a></li>
                    <li><a href="">Заказы</a></li>
                    <li><a href="">Финансы</a></li>
                    <li class="dropwdown-profile__separator"></li>
                    <li class="_dropdown-item">
                        <a href="#">
                            <span>Переключить аккаунт</span>
                            <svg class="square-16">
                                <use
                                    xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                            </svg>
                        </a>
                        <div class="dropwdown-profile _dropdown">
                            <ul class="dropwdown-profile__list _dropdown">
                                {% for profile in user.profiles_list %}
                                <li>
                                    <a href="#" class="dropwdown-profile__link active">
                                        <svg class="square-16">
                                            <use
                                                xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>
                                        </svg>
                                        <span>{{profile.username}} </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="dropwdown-profile__separator"></li>
                    <li><a href="#" data-request="session::onLogout"  data-request-success="closeForm()" data-request-redirect="/">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Меню оверлей -->
<div class="menu-mobile " data-overlay="menu-mobile">
    <!-- Основное меню -->
    <div class="menu-mobile__container _main active" data-menu-item="1">
        <div class="menu-mobile__body">
            <div class="menu-mobile__link _indent-large" data-menu-link="2">
                <span class="ui-text--medium">Книги</span>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Конкурсы</span>
            </a>
            <a href="/frontend/library.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Моя библиотека</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Чат</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Реклама</span>
            </a>

            <div class="menu-mobile__separator"></div>

            <div class="menu-mobile__link _indent-small" data-menu-link="4">
                <div class="menu-mobile__link-icon square-32">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#message-stroked-24"></use>
                    </svg>
                </div>
                <span class="ui-text--medium">Сообщения</span>
                <div class="menu-mobile__link-label ui-label-number _red">10</div>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <div class="menu-mobile__link _indent-small" data-menu-link="5">
                <div class="menu-mobile__link-icon square-32">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#notifications-stroked-24"></use>
                    </svg>
                </div>
                <span class="ui-text--medium">Уведомления</span>
                <div class="menu-mobile__link-label ui-label-number _red">4</div>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <div class="menu-mobile__link _indent-small">
                <div class="menu-mobile__link-icon square-32">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#bag-stroked-24"></use>
                    </svg>
                </div>
                <span class="ui-text--medium">Корзина</span>
                <div class="menu-mobile__link-label ui-label-number _red">5</div>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <div class="menu-mobile__link _indent-small" data-menu-link="6">
                <div class="menu-mobile__link-icon square-32">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#wallet-stroked-24"></use>
                    </svg>
                </div>
                <span class="ui-text--medium">Баланс</span>
                <div class="menu-mobile__link-price ui-text--medium">16 500 ₽</div>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <div class="menu-mobile__link _indent-small" data-menu-link="3">
                <div class="menu-mobile__link-avatar square-32">
                    <img class="square-24" src="./assets/images/author/avatar-placeholder.png" alt="">
                </div>
                <span class="ui-text--medium">Профиль</span>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
        </div>
    </div>

    <!-- Книги -->
    <div class="menu-mobile__container " data-menu-item="2">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>
            </svg>
            <span class="ui-text--bold">Книги</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <div class="menu-mobile__book-wrapper">
                <a href="/frontend/listing.html" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#more-lines-16"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Все книги</div>
                </a>
                <a href="#" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#phone-stroked-24"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Электронные</div>
                </a>
                <a href="#" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#audio-stroked-24"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Аудио</div>
                </a>
                <a href="#" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#book-stroked-24"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Бумажные</div>
                </a>
                <a href="#" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#comics-stroked-24"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Комиксы</div>
                </a>
            </div>

            <div class="menu-mobile__separator"></div>

            <div class="menu-mobile__book-listing">
                <div class="menu-book-genres__title ui-text-head--3 ui-text--bold">Жанры</div>

                <a href="#" class="menu-book-genres__item ui-text--medium">Фэнтези</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Попаданцы</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Космос</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Проза</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Мистика</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Бояръ-аниме</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Неформат</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Поэзия</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Фантастика</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">18+</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Фанфик</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Детское</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Ужасы</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Сказка</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Уся</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Романы</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Детективы</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">РПГ</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Триллер</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Янг-эдалт</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Драма</a>
                <a href="#" class="menu-book-genres__item ui-text--medium">Магический реализм</a>

                <a href="/frontend/all-books.html" class="menu-book-genres__more">
                    <svg class="square-16">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#more-lines-16"></use>
                    </svg>
                    <span class="ui-text--medium">Полный список жанров</span>
                </a>
            </div>
        </div>
    </div>


    <!-- Профиль -->
    <div class="menu-mobile__container " data-menu-item="3">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>
            </svg>
            <span class="ui-text--bold">Профиль</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <div class="menu-mobile__link _indent-large _color-gray" data-menu-link="2">
                <span class="ui-text--medium ui-text-body--3">Андрей Петров</span>
            </div>
            <a href="/frontend/lc-profile.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Профиль</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Книги</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Магазин</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Подписки</span>
            </a>
            <div class="menu-mobile__separator"></div>

            <div class="menu-mobile__link _indent-large" data-menu-link="7">
                <span class="ui-text--medium">Личный кабинет</span>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Заказы</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Финансы</span>
            </a>

            <div class="menu-mobile__separator"></div>
            <div class="menu-mobile__link _indent-large" data-menu-link="2">
                <span class="ui-text--medium">Переключить аккаунт</span>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-right-16"></use>
                </svg>
            </div>
            <div class="menu-mobile__separator"></div>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Выйти</span>
            </a>
        </div>
    </div>

    <!-- Сообщения -->
    <div class="menu-mobile__container " data-menu-item="4">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>
            </svg>
            <span class="ui-text--bold">Сообщения</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <div class="menu-chat__item">
                <div class="menu-chat__image-wrapper">
                    <img class="menu-chat__image" src="./assets/images/main/girl.png" alt="">
                </div>
                <div class="menu-chat__info">
                    <div class="menu-chat__info-up">
                        <div class="menu-chat__name">Евгения Жук</div>
                        <div class="menu-chat__time">11:06</div>
                    </div>
                    <div class="menu-chat__info-down">
                        <div class="menu-chat__message">Евгения: Обращайтесь)</div>
                        <div class="ui-label-number _violet">12</div>
                    </div>
                </div>
            </div>
            <div class="menu-chat__item">
                <div class="menu-chat__image-wrapper">
                    <img class="menu-chat__image" src="./assets/images/main/girl.png" alt="">
                </div>
                <div class="menu-chat__info">
                    <div class="menu-chat__info-up">
                        <div class="menu-chat__name">Евгения Жук</div>
                        <div class="menu-chat__time">11:06</div>
                    </div>
                    <div class="menu-chat__info-down">
                        <div class="menu-chat__message">Евгения: Обращайтесь)</div>
                        <div class="ui-label-number _violet">1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Уведомления -->
    <div class="menu-mobile__container " data-menu-item="5">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>
            </svg>
            <span class="ui-text--bold">Уведомления</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <div class="notification-menu__wrapper">
                <div class="notification-menu__detector active"></div>
                <div class="notification-menu__icon-wrapper">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#book-stroked-24"></use>
                    </svg>
                </div>
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        <a href="#" class="ui-link _violet">Александр Алексон</a> опубликовал новую книгу «<a href="#"
                                                                                                              class="ui-link _violet">Мужская
                        вакансия, или Женщина на борту – к несчастью</a>»
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>

            <div class="notification-menu__wrapper">
                <div class="notification-menu__detector active"></div>
                <div class="notification-menu__icon-wrapper">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#refresh-stroked-24"></use>
                    </svg>
                </div>
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        <a href="#" class="ui-link _violet">Александр Алексон</a> обновил книгу «<a href="#"
                                                                                                    class="ui-link _violet">Мужская
                        вакансия, или Женщина на борту – к несчастью</a>»
                    </div>
                    <div class="notification-menu__content-wrapper">+400 знаков</div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
            <div class="notification-menu__wrapper">
                <div class="notification-menu__detector "></div>
                <div class="notification-menu__icon-wrapper">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#blog-stroked-32"></use>
                    </svg>
                </div>
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        <a href="#" class="ui-link _violet">Александр Алексон</a> опубликовал новую запись в блоге «<a
                        href="#" class="ui-link _violet">Дизайн обложки</a>»
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
            <div class="notification-menu__wrapper">
                <div class="notification-menu__detector "></div>
                <div class="notification-menu__icon-wrapper">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#shop-stroked-32"></use>
                    </svg>
                </div>
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        <a href="#" class="ui-link _violet">Александр Алексон</a> Александр Алексон разместил товар в
                        магазине «<a href="#" class="ui-link _violet">Дизайн обложки</a>»
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
            <div class="notification-menu__wrapper">
                <div class="notification-menu__detector "></div>
                <div class="notification-menu__icon-wrapper">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#info-stroked-24"></use>
                    </svg>
                </div>
                <div class="notification-menu__content">
                    <div class="notification-menu__message notification-menu__content-wrapper">
                        <p class="notification-menu__content-wrapper">
                            Тут будет какой-то текст от администрации. Этот текст будет располагаться максимум на 3
                            строчки. Не больше не меньше. Далее просто будет обрезаться
                        </p>
                        <a href="#" class="ui-link _violet">Подробнее</a>
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
            <div class="notification-menu__wrapper">
                <div class="notification-menu__detector active"></div>
                <div class="notification-menu__icon-wrapper">
                    <svg class="square-24">
                        <use xlink:href="./assets/icon-sprite/svg-sprite.svg#sale-stroked-24"></use>
                    </svg>
                </div>
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        Скидка на книгу <a href="#" class="ui-link _violet">«Мужская вакансия, или Женщина на борту – к
                        несчастью»</a> от <a href="#" class="ui-link _violet">Александр Алексон</a>
                    </div>
                    <div class="notification-menu__price notification-menu__content-wrapper ui-text--bold">139 ₽ <span
                        class="ui-text--lt">111 ₽</span></div>
                    <a href="#"
                       class="notification-menu__content-wrapper ui-button ui-button-size--32 ui-button-view--2">Купить</a>
                    <div class="notification-menu__date">12.02.22</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Баланс -->
    <div class="menu-mobile__container " data-menu-item="6">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>
            </svg>
            <span class="ui-text--bold">Баланс</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <div class="notification-menu__wrapper">
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        Баланс пополнен на 1000 ₽
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
            <div class="notification-menu__wrapper">
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        Куплена книга <a href="" class="ui-link _violet">«Творческое перегорание или затишье перед
                        бурей»</a>
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
            <div class="notification-menu__wrapper">
                <div class="notification-menu__content">
                    <div class="notification-menu__text notification-menu__content-wrapper">
                        Вы получили 200 ₽ от <a href="#" class="ui-link _violet">Виктор</a>
                    </div>
                    <div class="notification-menu__date">6 часов назад</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Личный кабинет -->
    <div class="menu-mobile__container " data-menu-item="7">
        <div class="menu-mobile__header" data-menu-link="3">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-left-24"></use>
            </svg>
            <span class="ui-text--bold">Профиль</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <a href="/frontend/lc-profile.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Профиль</span>
            </a>
            <a href="/frontend/lc-privacy.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Приватность</span>
            </a>
            <a href="/frontend/lc-notification.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Уведомления</span>
            </a>
            <a href="/frontend/lc-blacklist.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Черный список</span>
            </a>
            <div class="menu-mobile__separator"></div>

            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Книги</span>
            </a>
            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Магазин</span>
            </a>
            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Блог</span>
            </a>
            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Видеоблог</span>
            </a>
            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Награды</span>
            </a>
            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Комментарии</span>
            </a>
            <a href="/frontend/author-page.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Репосты</span>
            </a>

            <div class="menu-mobile__separator"></div>

            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Коммерческий кабинет</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Статистика прочтений</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Реклама</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Заказы</span>
            </a>

            <div class="menu-mobile__separator"></div>

            <a href="/lc-security.html" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Безопасность</span>
            </a>
            <a href="#" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Общее</span>
            </a>
        </div>
    </div>
</div>
<script>
    initFn();
</script>
