<div class="header__actions">
<!--    <div class="header__actions-wrapper">-->
<!--        <div class="header__actions-item" data-header-action="message">-->
<!--            <svg class="square-24">-->
<!--                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#message-stroked-24' | theme}}"></use>-->
<!--            </svg>-->
<!--&lt;!&ndash;            <div class="ui-label-number _red">412</div>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="popup-menu _message" data-header-content="message">-->
<!--            <div class="popup-menu__content">-->
<!--                <div class="popup-menu__header popup-menu__wrapper">-->
<!--                    <div class="ui-text-head&#45;&#45;3 ui-text&#45;&#45;bold">Чат</div>-->
<!--                </div>-->
<!--                <div class="popup-menu__body popup-menu__wrapper">-->
<!--                    <div class="popup-menu__placeholder">-->
<!--                        <svg class="square-32">-->
<!--                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#message-stroked-24' | theme}}"></use>-->
<!--                        </svg>-->
<!--                        <span>Здесь пока ничего нет</span>-->
<!--                    </div>-->

<!--                    <div class="menu-chat">-->
<!--                        <div class="menu-chat__item">-->
<!--                            <div class="menu-chat__image-wrapper">-->
<!--                                <img class="menu-chat__image" src="{{'assets/images/main/girl.png' | theme}}" alt="">-->
<!--                            </div>-->
<!--                            <div class="menu-chat__info">-->
<!--                                <div class="menu-chat__info-up">-->
<!--                                    <div class="menu-chat__name">Евгения Жук</div>-->
<!--                                    <div class="menu-chat__time">11:06</div>-->
<!--                                </div>-->
<!--                                <div class="menu-chat__info-down">-->
<!--                                    <div class="menu-chat__message">Евгения: Обращайтесь)</div>-->
<!--                                    <div class="ui-label-number _violet">1</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="menu-chat__item">-->
<!--                            <div class="menu-chat__image-wrapper">-->
<!--                                <img class="menu-chat__image" src="{{'assets/images/main/girl.png' | theme}}" alt="">-->
<!--                            </div>-->
<!--                            <div class="menu-chat__info">-->
<!--                                <div class="menu-chat__info-up">-->
<!--                                    <div class="menu-chat__name">Евгения Жук Евгения Жук Евгения Жук</div>-->
<!--                                    <div class="menu-chat__time">11:06</div>-->
<!--                                </div>-->
<!--                                <div class="menu-chat__info-down">-->
<!--                                    <div class="menu-chat__message">Евгения: Обращайтесь) Обращайтесь)</div>-->
<!--                                    <div class="ui-label-number _violet">1</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="popup-menu__footer popup-menu__wrapper">-->
<!--                    <a href="#" class="ui-button ui-button-size&#45;&#45;32 ui-button-view&#45;&#45;2 ui-button&#45;&#45;full">Посмотреть-->
<!--                        все</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="header__actions-wrapper">
        <div class="header__actions-item" data-header-action="notifications">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#notifications-stroked-24' | theme}}"></use>
            </svg>
<!--            <div class="ui-label-number _red">4</div>-->
        </div>
        <div class="popup-menu _notifications" data-header-content="notifications">
            <div class="popup-menu__content">
                <div class="popup-menu__header popup-menu__wrapper">
                    <div class="ui-text-head--3 ui-text--bold">Уведомления</div>
                    <a href="#" class="popup-menu__settings">
                        <svg class="square-16">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#settings-stroked-16' | theme}}"></use>
                        </svg>
                    </a>
                </div>
                <div class="popup-menu__body popup-menu__wrapper">
                    <div class="popup-menu__placeholder">
                        <svg class="square-32">
                            <use
                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#notifications-stroked-24' | theme}}"></use>
                        </svg>
                        <span>Здесь пока ничего нет</span>
                    </div>

                    <div class="notification-menu">
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector active"></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#book-stroked-24' | theme}}"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> опубликовал
                                    новую книгу «<a href="#" class="ui-link _violet">Мужская вакансия, или
                                    Женщина на борту – к несчастью</a>»
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>

                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector active"></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#refresh-stroked-24' | theme}}"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> обновил книгу
                                    «<a href="#" class="ui-link _violet">Мужская вакансия, или Женщина на
                                    борту – к несчастью</a>»
                                </div>
                                <div class="notification-menu__content-wrapper">+400 знаков</div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector "></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#blog-stroked-32' | theme}}"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> опубликовал
                                    новую запись в блоге «<a href="#" class="ui-link _violet">Дизайн
                                    обложки</a>»
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector "></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#shop-stroked-32' | theme}}"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    <a href="#" class="ui-link _violet">Александр Алексон</a> Александр
                                    Алексон разместил товар в магазине «<a href="#" class="ui-link _violet">Дизайн
                                    обложки</a>»
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector "></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#info-stroked-24' | theme}}"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__message notification-menu__content-wrapper">
                                    <p class="notification-menu__content-wrapper">
                                        Тут будет какой-то текст от администрации. Этот текст будет
                                        располагаться максимум на 3 строчки. Не больше не меньше. Далее
                                        просто будет обрезаться
                                    </p>
                                    <a href="#" class="ui-link _violet">Подробнее</a>
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__detector active"></div>
                            <div class="notification-menu__icon-wrapper">
                                <svg class="square-24">
                                    <use
                                        xlink:href="{{'assets/icon-sprite/svg-sprite.svg#sale-stroked-24' | theme}}"></use>
                                </svg>
                            </div>
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Скидка на книгу <a href="#" class="ui-link _violet">«Мужская вакансия,
                                    или Женщина на борту – к несчастью»</a> от <a href="#"
                                                                                  class="ui-link _violet">Александр
                                    Алексон</a>
                                </div>
                                <div
                                    class="notification-menu__price notification-menu__content-wrapper ui-text--bold">
                                    139 ₽ <span class="ui-text--lt">111 ₽</span></div>
                                <a href="#"
                                   class="notification-menu__content-wrapper ui-button ui-button-size--32 ui-button-view--2">Купить</a>
                                <div class="notification-menu__date">12.02.22</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-menu__footer popup-menu__wrapper">
                    <a href="/frontend/all-notifications.html" class="popup-menu__link ui-link _violet">Все
                        уведомления</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#bag-stroked-24' | theme}}"></use>
            </svg>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item" data-header-action="wallet">
            <svg class="square-24">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#wallet-stroked-24' | theme}}"></use>
            </svg>
            <div class="ui-text--medium">16 500 ₽</div>
        </div>
        <div class="popup-menu _notifications" data-header-content="menu">
            <div class="popup-menu__content">
                <div class="popup-menu__header popup-menu__wrapper">
                    <div class="ui-text-head--3 ui-text--bold">История операций</div>
                </div>
                <div class="popup-menu__body popup-menu__wrapper">
                    <div class="popup-menu__placeholder">
                        <svg class="square-32">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#wallet-stroked-24' | theme}}"></use>
                        </svg>
                        <span>Здесь пока ничего нет</span>
                    </div>

                    <div class="notification-menu">
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Баланс пополнен на 1000 ₽
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Куплена книга <a href="" class="ui-link _violet">«Творческое перегорание
                                    или затишье перед бурей»</a>
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                        <div class="notification-menu__wrapper">
                            <div class="notification-menu__content">
                                <div class="notification-menu__text notification-menu__content-wrapper">
                                    Вы получили 200 ₽ от <a href="#" class="ui-link _violet">Виктор</a>
                                </div>
                                <div class="notification-menu__date">6 часов назад</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-menu__footer popup-menu__wrapper">
                    <a href="#" class="ui-button ui-button-size--32 ui-button-view--2 ui-button--full">Пополнить
                        баланс</a>
                    <a href="#" class="popup-menu__link ui-link _violet">Вся история операций</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__actions-wrapper">
        <div class="header__actions-item-logo" data-header-action="profile">
            <svg class="square-24">
                <use xlink:href=" {{'assets/icon-sprite/svg-sprite.svg#user-stroked-24' | theme}}"></use>
            </svg>
        </div>

        <div class="popup-menu _profile" data-header-action="profile">
            <div class="dropwdown-profile">
                <ul class="dropwdown-profile__list">
                    <li class="dropwdown-profile__name">{{user.username}}</li>
                    <li><a href="/author-page">Моя страница</a></li>
                    <li class="dropwdown-profile__separator"></li>
                    <li><a href="/lc-profile" data-turbo="false">Личный кабинет</a></li>
                    <li><a href="/lc-books" data-turbo="false">Книги</a></li>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Подписки</a></li>
                    <li><a href="#">Коммерческий кабинет</a></li>
                    <li class="dropwdown-profile__separator"></li>
                    <li class="_dropdown-item">
                        <a href="#">
                            <span>Переключить аккаунт</span>
                            <svg class="square-16">
                                <use
                                    xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme}}"></use>
                            </svg>
                        </a>
                        <div class="dropwdown-profile _dropdown">
                            <ul class="dropwdown-profile__list _dropdown">
                                {% for profile in user.profiles_list %}
                                <li>
                                    <a href="#" class="dropwdown-profile__link active">
                                        <svg class="square-16">
                                            <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-stroked-16' | theme }}"></use>
                                        </svg>
                                        <span>{{profile.username}} </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="dropwdown-profile__separator"></li>
                    <li>
                        <a href="#" data-request="bookAccount::onLogout"
                           data-request-data="redirect: '/'"
                        >
                            Выйти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    initUserStuff()
</script>
