[socialconnect]
==
{% component 'BalanceDeposit' %}
<div class="ui-container">
    <div class="header__panel">
        <svg class="header__menu-burger square-24 active" data-button-menu="mobile">
            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#burger-24' | theme}}"></use>
        </svg>
        <svg class="header__menu-burger square-24" data-button-menu="mobile">
            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#close-stroked-16' | theme}}"></use>
        </svg>
        <a href="/" class="header__logo-wrapper">
            <img class="header__logo" src="{{'assets/images/main/logo.png' | theme}}" style="background: transparent" alt="logo">
            <div class="header__logo-text ui-text-body--1 ui-text--bold">Время книг</div>
        </a>
        <div class="header__search-wrapper header-search" data-search="item">
            <svg class="header-search__button-close square-24" data-button-search="close">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#close-stroked-16' | theme}}"></use>
            </svg>
            <div class="header-search__search">
                <svg class="header-search__icon square-16">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#search-stroked-24' | theme}}"></use>
                </svg>
                <input name="query"
                       id="search_input"
                       data-request="searcher::onSearch"
                       class="header-search__input"
                       value="{{search_query}}"
                       type="text"
                       placeholder="Поиск"
                       data-search="input">
                <svg class="header-search__button-clear square-16" data-button-input="clear">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#close-stroked-16' | theme}}"></use>
                </svg>
            </div>
        </div>
        {% if not user %}
            {% partial "site/header_unauthorized_section" %}
        {% else %}
            {% partial "site/header_authorized_section" %}
        {% endif %}
        <svg class="header__menu-search square-24" data-button-search="open">
            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#search-stroked-24' | theme}}"></use>
        </svg>
    </div>
    <nav class="header__nav nav">
        <ul class="nav__list">
            <li class="nav__list-item _dropdown">
                <a class="ui-text--medium nav__link _dropdown" href="/listing">
                    <span>Книги</span>
                    <svg class="square-16">
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-down-16' | theme}}"></use>
                    </svg>
                </a>

                <!-- dropdown -->
                <div class="dropdown-books">
                    <div class="dropdown-books__content" style="z-index: 10">
                        <div class="book-type _separate">
                            <a href="/listing" class="book-type__item">
                                <div class="book-type__icon-wrapper">
                                    <svg class="square-24">
                                        <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#more-lines-16' | theme}}"></use>
                                    </svg>
                                </div>
                                <div class="book-type__text ui-text--medium">Все книги</div>
                            </a>
                            <a href="/listing?type=1" class="book-type__item">
                                <div class="book-type__icon-wrapper">
                                    <svg class="square-24">
                                        <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#phone-stroked-24' | theme}}"></use>
                                    </svg>
                                </div>
                                <div class="book-type__text ui-text--medium">Электронные</div>
                            </a>
                            <a href="/listing?type=2" class="book-type__item">
                                <div class="book-type__icon-wrapper">
                                    <svg class="square-24">
                                        <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#audio-stroked-24' | theme}}"></use>
                                    </svg>
                                </div>
                                <div class="book-type__text ui-text--medium">Аудио</div>
                            </a>
                            <a href="/listing?type=3" class="book-type__item">
                                <div class="book-type__icon-wrapper">
                                    <svg class="square-24">
                                        <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#book-stroked-24' | theme}}"></use>
                                    </svg>
                                </div>
                                <div class="book-type__text ui-text--medium">Бумажные</div>
                            </a>
                            <a href="/listing?type=4" class="book-type__item">
                                <div class="book-type__icon-wrapper">
                                    <svg class="square-24">
                                        <use
                                                xlink:href="{{'assets/icon-sprite/svg-sprite.svg#comics-stroked-24' | theme}}"></use>
                                    </svg>
                                </div>
                                <div class="book-type__text ui-text--medium">Комиксы</div>
                            </a>
                        </div>
                        <div class="menu-book-genres">
                            <div class="menu-book-genres__title ui-text-head--3 ui-text--bold">Жанры</div>
                            <ul class="menu-book-genres__list">
                                {% component 'genres_parented' %}
                            </ul>
                            <a href="/all-genres" class="menu-book-genres__more">
                                <svg class="square-16">
                                    <use
                                            xlink:href="{{'assets/icon-sprite/svg-sprite.svg#more-lines-16' | theme}}"></use>
                                </svg>
                                <span class="ui-text--medium">Полный список жанров</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
<!--            <li class="nav__list-item disabled"><a class="ui-text&#45;&#45;medium nav__link" style="color:#ffffff">Конкурсы</a></li>-->
            <li class="nav__list-item "><a class="ui-text--medium nav__link" href="/library">Моя
                    библиотека</a></li>
            <li class="nav__list-item "><a class="ui-text--medium nav__link" href="/shop">Магазин</a></li>
            <li class="nav__list-item "><a class="ui-text--medium nav__link" href="/lc-referral">Реферальная программа</a></li>
<!--            <li class="nav__list-item disabled"><a class="ui-text&#45;&#45;medium nav__link" style="color:#ffffff">Магазин</a></li>-->
<!--            <li class="nav__list-item disabled"><a class="ui-text&#45;&#45;medium nav__link" style="color:#ffffff">Чат</a></li>-->
<!--            <li class="nav__list-item disabled"><a class="ui-text&#45;&#45;medium nav__link" style="color:#ffffff">Реклама</a></li>-->
        </ul>
    </nav>
</div>
<div class="menu-mobile  " data-overlay="menu-mobile">
    <!-- Основное меню -->
    <div class="menu-mobile__container _main active" data-menu-item="1">
        <div class="menu-mobile__body">
            <div class="menu-mobile__link _indent-large" data-menu-link="2">
                <span class="ui-text--medium">Книги</span>
                <svg class="menu-mobile__link-chevron square-16">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme}}"></use>
                </svg>
            </div>
<!--            <a class="menu-mobile__link _indent-large disabled">-->
<!--                <span class="ui-text&#45;&#45;medium">Конкурсы</span>-->
<!--            </a>-->
            <a href="/library" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Моя библиотека</span>
            </a>
            <a href="/shop" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Магазин</span>
            </a>
            <a href="/lc-referral" class="menu-mobile__link _indent-large">
                <span class="ui-text--medium">Реферальная программа</span>
            </a>
<!--            <a class="menu-mobile__link _indent-large disabled">-->
<!--                <span class="ui-text&#45;&#45;medium">Чат</span>-->
<!--            </a>-->
<!--            <a class="menu-mobile__link _indent-large disabled">-->
<!--                <span class="ui-text&#45;&#45;medium">Реклама</span>-->
<!--            </a>-->

            {% if user %}
                <div class="menu-mobile__footer">
                    <div class="menu-mobile__separator"></div>

                    {% partial 'site/notifications-mobile' button = true %}
                    {% partial 'site/operation-history-mobile' button = true %}

                    <div class="menu-mobile__link _indent-small" data-menu-link="3">
                        {% if user.profile.avatar %}
                            <div class="menu-mobile__link-avatar square-32">
                                <img class="square-24" src="{{user.profile.avatar.getThumb(32,32)}}" alt="Аватар">
                            </div>
                        {% else %}
                            <div class="menu-mobile__link-icon square-32">
                                <svg class="square-24">
                                    <use xlink:href=" {{'assets/icon-sprite/svg-sprite.svg#user-stroked-24' | theme}}"></use>
                                </svg>                            </div>
                        {% endif %}
                        <span class="ui-text--medium">Профиль</span>
                        <svg class="menu-mobile__link-chevron square-16">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme}}"></use>
                        </svg>
                    </div>
                </div>
            {% else %}
                <div class="menu-mobile__footer">
                    <a onclick="registerPopup()"
                       class="ui-button ui-button-view--2 ui-button-size--32 ui-button--full-mobile cursor-pointer">
                        <span class="ui-text--medium">Зарегистрироваться</span>
                    </a>
                    <a onclick="loginPopup()"
                       class="ui-button ui-button-view--3 ui-button-size--32 ui-button--full-mobile cursor-pointer">
                        <span class="ui-text--medium">Войти</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Книги -->
    <div class="menu-mobile__container " data-menu-item="2">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
            </svg>
            <span class="ui-text--bold">Книги</span>
            <div class="square-16"></div>
        </div>
        <div class="menu-mobile__body">
            <div class="menu-mobile__book-wrapper">
                <a href="/listing" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#more-lines-16' | theme}}"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Все книги</div>
                </a>
                <a href="/listing?type=1" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#phone-stroked-24' | theme}}"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Электронные</div>
                </a>
                <a href="/listing?type=2" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#audio-stroked-24' | theme}}"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Аудио</div>
                </a>
                <a href="/listing?type=3" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#book-stroked-24' | theme}}"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Бумажные</div>
                </a>
                <a href="/listing?type=4" class="book-type__item">
                    <div class="book-type__icon-wrapper">
                        <svg class="square-24">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#comics-stroked-24' | theme}}"></use>
                        </svg>
                    </div>
                    <div class="book-type__text ui-text--medium">Комиксы</div>
                </a>
            </div>

            <div class="menu-mobile__separator"></div>

            <div class="menu-mobile__book-listing">
                <div class="menu-book-genres__title ui-text-head--3 ui-text--bold">Жанры</div>
                <ul class="menu-book-genres__list">
                    {% component 'genres_parented' %}
                </ul>

                <a href="/all-genres" class="menu-book-genres__more">
                    <svg class="square-16">
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#more-lines-16' | theme}}"></use>
                    </svg>
                    <span class="ui-text--medium">Полный список жанров</span>
                </a>
            </div>
        </div>
    </div>
    {% if user %}
        {% partial 'site/notifications-mobile' %}
        {% partial 'site/operation-history-mobile' %}

        <!-- Профиль -->
        <div class="menu-mobile__container " data-menu-item="3">
            <div class="menu-mobile__header" data-menu-link="1">
                <svg class="square-16">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
                </svg>
                <span class="ui-text--bold">Профиль</span>
                <div class="square-16"></div>
            </div>
            <div class="menu-mobile__body">
                <div class="menu-mobile__link _indent-large _color-gray" data-menu-link="2">
                    <span class="ui-text--medium ui-text-body--3">{{user.profile.username~' ID:'~user.profile.id}}</span>
                </div>
                <a href="/author-page/{{user.profile.id}}" class="menu-mobile__link _indent-large">
                    <span class="ui-text--medium">Моя страница</span>
                </a>
                <div class="menu-mobile__separator"></div>
                <div class="menu-mobile__link _indent-large" data-menu-link="7">
                    <span class="ui-text--medium">Личный кабинет</span>
                    <svg class="menu-mobile__link-chevron square-16">
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme}}"></use>
                    </svg>
                </div>
                <a href="/lc-books" class="menu-mobile__link _indent-large">
                    <span class="ui-text--medium">Книги</span>
                </a>
                <a href="/shop" class="menu-mobile__link _indent-large">
                    <span class="ui-text--medium">Магазин</span>
                </a>
                <a href="/lc-read-statistic" class="menu-mobile__link _indent-large">
                    <span class="ui-text--medium">Статистика прочтений</span>
                </a>
                <a href="/lc-commercial" class="menu-mobile__link _indent-large">
                    <span class="ui-text--medium">Коммерческий кабинет</span>
                </a>

                <div class="menu-mobile__separator"></div>
                <div class="menu-mobile__link _indent-large" data-menu-link="10">
                    <span class="ui-text--medium">Переключить аккаунт</span>
                    <svg class="menu-mobile__link-chevron square-16">
                        <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme}}"></use>
                    </svg>
                </div>
                <div class="menu-mobile__separator"></div>
                <a  data-request="onLogout"
                    class="menu-mobile__link _indent-large cursor-pointer">
                    <span class="ui-text--medium">Выйти</span>
                </a>
            </div>
        </div>

        <!-- Личный кабинет -->
        <div class="menu-mobile__container " data-menu-item="7">
            <div class="menu-mobile__header" data-menu-link="3">
                <svg class="square-16">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
                </svg>
                <span class="ui-text--bold">Личный кабинет</span>
                <div class="square-16"></div>
            </div>
            {% partial 'profile/sidebarmenu' containerClass='menu-mobile__body' separatorClass='menu-mobile__separator'
                linkClass='menu-mobile__link _indent-large' %}

        </div>
        <div class="menu-mobile__container " data-menu-item="10">
            <div class="menu-mobile__header" data-menu-link="3">
                <svg class="square-16">
                    <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme}}"></use>
                </svg>
                <span class="ui-text--bold">Переключить аккаунт</span>
                <div class="square-16"></div>
            </div>
            <div class="menu-mobile__body">
                {% if user.profilesAsOptions.count < user.maxProfilesCount %}
                    <div class="menu-mobile__link _indent-large" data-modal="open-new-profile-modal2">
                        <svg class="menu-mobile__link-chevron square-16">
                            <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#plus-stroked-16' | theme}}"></use>
                        </svg>
                        <span class="ui-text--medium">Создать</span>
                    </div>
                    <div class="menu-mobile__separator"></div>
                {% endif %}
                {% for profile in user.profilesAsOptions %}
                    <a class="menu-mobile__link _indent-large"
                            {{profile.id != user.profile.id ? 'data-request="profile::onSwitchProfile"' : ''}}
                       data-request-data="profile_id:{{profile.id}}"
                    >
                        {% if profile.id == user.profile.id %}
                            <svg class="menu-mobile__link-chevron square-16">
                                <use xlink:href="{{'assets/icon-sprite/svg-sprite.svg#check-stroked-16' | theme}}"></use>
                            </svg>
                        {% endif %}
                        <span class="ui-text--medium">{{profile.username}} <span style="color: var(--color-dark-gray)">ID:{{profile.id}}</span></span>
                    </a>
                {% endfor %}

            </div>


        </div>
    {% endif %}
</div>

{% partial 'modals/new-profile' %}
<script>
    initFn();
</script>

