[NotificationsInHeader]
recordsPerView = 11
==
{% if button %}
    <div class="menu-mobile__link _indent-small" data-menu-link="5"
         onclick="oc.ajax(`onViewHeaderNotifications`)">
        <div class="menu-mobile__link-icon square-32">
            <svg class="square-24">
                <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#notifications-stroked-24' | theme }}"></use>
            </svg>
        </div>
        <span class="ui-text--medium">Уведомления</span>
        {% if unreadNotifications > 0 %}
            <div class="menu-mobile__link-label ui-label-number _red">{{ unreadNotifications }}</div>
        {% endif %}
        <svg class="menu-mobile__link-chevron square-16">
            <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#chevron-right-16' | theme }}"></use>
        </svg>
    </div>
{% else %}
    <div class="menu-mobile__container " data-menu-item="5">
        <div class="menu-mobile__header" data-menu-link="1">
            <svg class="square-16">
                <use xlink:href="{{ 'assets/icon-sprite/svg-sprite.svg#chevron-left-24' | theme }}"></use>
            </svg>
            <span class="ui-text--bold">Уведомления</span>
            <div class="square-16"></div>
        </div>
        <div id="notifications-in-header-list-mobile" class="menu-mobile__body">
            <div class="commerce__loading-wrap">
                <div class="commerce__loading-icon">
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
        <div class="popup-menu__footer popup-menu__wrapper">
            <a href="{{ 'notifications' | page }}" class="popup-menu__link ui-link _violet">Все уведомления</a>
        </div>
    </div>
{% endif %}
