<!-- Серия блоков с карточками + сайдбар -->
<div class="thematic _indent ui-container-fluid">
    <div class="ui-grid-container ui-grid-gap">
        <div class="ui-col-md-9">
            {% component 'gainingPopularity' %}
            {% component 'hotNew' %}
        </div>
        <div class="ui-col-md-3">
            <div class="ui-grid-container ui-grid-gap">
                <div class="ui-col-md-12 ui-col-sm-6">
                    {% component 'recommend' %}
                    {% component 'widget_new' %}
                    {% component 'interested' %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Поповер для карточки -->
<!-- Поискать еще скрипт -->
<!--<div class="card-popover _size">-->
<!--    <div class="card-popover__wrapper">-->
<!--        <span>Автор: </span> Александр Рем-->
<!--    </div>-->
<!--    <div class="card-popover__wrapper">-->
<!--        <span>Жанры: </span>  <a href="#" class="ui-link _violet">ЛитРПГ</a>, <a href="#" class="ui-link _violet">Космос</a>-->
<!--    </div>-->
<!--    <div class="card-popover__wrapper">-->
<!--        <span>Аннотация :</span> Боги хаоса из разлома и главы мегакорпораций объединяют усилия. Две силы обладающие абсолютным могуществом в обоих мирах приговорили Ласку и Тима к ликвидации натравливая своих слуг и обещая баснословные награды за головы, не понимая, что тем самым создают себе врагов невиданных доселе.-->
<!--    </div>-->
<!--    <div class="card-popover__wrapper">-->
<!--        <a href="#" class="ui-link _violet">Маги</a>, <a href="#" class="ui-link _violet">Приключения</a>-->
<!--    </div>-->
<!--</div>-->

<script>
    (() => {
        new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: false,

            // draggable: true,
            spaceBetween: 16,
            breakpoints: {
                0: {
                    slidesPerView: 2.5,
                },
                768: {
                    slidesPerView: 5,
                },
                1280: {
                    slidesPerView: 6,
                }
            },

            // Navigation arrows
            navigation: {
                nextEl: '.thematic-section__nav._right',
                prevEl: '.thematic-section__nav._left',
            },
        });
    })()
</script>
