{% if this.environment == 'production' %}
<!-- VK-pixel -->
<script {{user ? '' : 'defer'}}  type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-1762016-gEWui"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1762016-gEWui" style="position:fixed; left:-999px;" alt=""/></noscript>
<!-- /VK-pixel -->
{% endif %}
