<div class="author-cycles__container">
    <div class="author-cycles__wrapper">

        <div class="author-cycles__header">
            <div class="author-cycles__title ui-text-head--3 ui-text--bold">История бессмертного</div>
            <a class="author-cycles__link ui-link _violet" href="#">Подробнее</a>
        </div>
        <div class="author-cycles__stage">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#pencil-stroked-16"></use>
            </svg>
            <span>В работе</span>
        </div>
        <div class="thematic-section__container swiper">
            <div class="thematic-section__card-container swiper-wrapper">
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
            </div>
            <div class="thematic-section__nav _left">
                <svg>
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24"></use>
                </svg>
            </div>
            <div class="thematic-section__nav _right">
                <svg>
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="author-cycles__wrapper">

        <div class="author-cycles__header">
            <div class="author-cycles__title ui-text-head--3 ui-text--bold">История бессмертного</div>
            <a class="author-cycles__link ui-link _violet" href="#">Подробнее</a>
        </div>
        <div class="author-cycles__stage">
            <svg class="square-16">
                <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>
            </svg>
            <span>Закончено</span>
        </div>
        <div class="thematic-section__container swiper">
            <div class="thematic-section__card-container swiper-wrapper">
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
                <a href="#" class="book-mini-card _mobile-size swiper-slide">
                    <img src="./assets/images/main/book-card-placeholder.png" class="book-mini-card__image" alt=""
                         loading="lazy"></img>
                    <div class="book-mini-card__title">
                        Влезает только три строчки. Влезает только три строчки
                    </div>
                </a>
            </div>
            <div class="thematic-section__nav _left">
                <svg>
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24"></use>
                </svg>
            </div>
            <div class="thematic-section__nav _right">
                <svg>
                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#arrow-stroked-right-24"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
