
    {{ form_ajax('profilePrivacy::onUpdatePrivacy',{
    id:'profile_privacy_form',
    'data-request-validate':'true',
    class:'personal-area__wrapper ui-grid-container ui-grid-gap',
    'data-request-update':"profile/privacy: '#profile_privacy_form'"
    }) }}
    <div class="ui-col-md-6">


        <div class="personal-area__wrap _indent-large ui-select">
            {% for setting in settings %}
            <div class="ui-select-header">
                <label class="ui-select-label">{{ setting.declaration.getLabel() }}</label>
            </div>

            <select name="options[{{setting.declaration.value}}]">
                {% for option in setting.declaration.options() %}
                <option
                    {{ setting.value == option.value ? 'selected' : ''  }}
                    value="{{option.value}}">{{option.getLabel()}}</option>
                {% endfor %}

            </select>
            {% endfor %}


<!--            <div class="personal-area__wrap _indent-large ui-select">-->
<!--                <div class="ui-select-header">-->
<!--                    <label class="ui-select-label">Кто может писать на моей странице</label>-->
<!--                </div>-->


<!--                <div class="ui-select-container">-->
<!--                    <div class="ui-select-item _size-32">-->
<!--                        <div class="ui-select-item-option">Все</div>-->
<!--                        <svg class="ui-select-item-icon">-->
<!--                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-down-16"></use>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="ui-dropdown">-->
<!--                        <div class="ui-dropdown-container">-->
<!--                            <div class="ui-dropdown-item active">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Все</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Только подписчики</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item ">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Никто</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="personal-area__wrap _indent-large ui-select">-->
<!--                <div class="ui-select-header">-->
<!--                    <label class="ui-select-label">Кто может писать мне личные сообщения</label>-->
<!--                </div>-->
<!--                <div class="ui-select-container">-->
<!--                    <div class="ui-select-item _size-32">-->
<!--                        <div class="ui-select-item-option">Все</div>-->
<!--                        <svg class="ui-select-item-icon">-->
<!--                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-down-16"></use>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="ui-dropdown" style="display: none;">-->
<!--                        <div class="ui-dropdown-container">-->
<!--                            <div class="ui-dropdown-item active">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Все</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Только подписчики</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item ">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Никто</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="personal-area__wrap _indent-large ui-select">-->
<!--                <div class="ui-select-header">-->
<!--                    <label class="ui-select-label">Кто может видеть ленту моих комментариев</label>-->
<!--                </div>-->
<!--                <div class="ui-select-container">-->
<!--                    <div class="ui-select-item _size-32">-->
<!--                        <div class="ui-select-item-option">Все</div>-->
<!--                        <svg class="ui-select-item-icon">-->
<!--                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-down-16"></use>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="ui-dropdown" style="display: none;">-->
<!--                        <div class="ui-dropdown-container">-->
<!--                            <div class="ui-dropdown-item active">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Все</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Только подписчики</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item ">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Никто</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="personal-area__wrap _indent-large ui-select">-->
<!--                <div class="ui-select-header">-->
<!--                    <label class="ui-select-label">Кто может видеть мой блог</label>-->
<!--                </div>-->
<!--                <div class="ui-select-container">-->
<!--                    <div class="ui-select-item _size-32">-->
<!--                        <div class="ui-select-item-option">Все</div>-->
<!--                        <svg class="ui-select-item-icon">-->
<!--                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-down-16"></use>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="ui-dropdown" style="display: none;">-->
<!--                        <div class="ui-dropdown-container">-->
<!--                            <div class="ui-dropdown-item active">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Все</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Только подписчики</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item ">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Никто</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            -->
<!--            <div class="personal-area__wrap _indent-large ui-select">-->
<!--                <div class="ui-select-header">-->
<!--                    <label class="ui-select-label">Кто может видеть мой видеоблог</label>-->
<!--                </div>-->
<!--                <div class="ui-select-container">-->
<!--                    <div class="ui-select-item _size-32">-->
<!--                        <div class="ui-select-item-option">Все</div>-->
<!--                        <svg class="ui-select-item-icon">-->
<!--                            <use xlink:href="./assets/icon-sprite/svg-sprite.svg#chevron-down-16"></use>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="ui-dropdown" style="display: none;">-->
<!--                        <div class="ui-dropdown-container">-->
<!--                            <div class="ui-dropdown-item active">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Все</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Только подписчики</span>-->
<!--                            </div>-->
<!--                            <div class="ui-dropdown-item ">-->
<!--                                <svg>-->
<!--                                    <use xlink:href="./assets/icon-sprite/svg-sprite.svg#check-stroked-16"></use>-->
<!--                                </svg>-->
<!--                                <span>Никто</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>

        <button class="ui-button ui-button-size--32 ui-button-view--2 ui-text--medium">Сохранить</button>
    </div>

    {{ form_close() }}
