{% set aClass = linkClass?:'personal-area__sidebar-link' %}
<div class="{{containerClass ?:'personal-area__sidebar ui-col-sm-3'}}">
    {% set currentPagePath = this.page.url|split('/:')[0] %}
    {% for link in collect([
        {name:'Профиль',href:'/lc-profile',turbo:'false'},
        {name:'Приватность',href:'/lc-privacy'},
        {name:'Уведомления',href:'/lc-notification'},
        {name:'Черный список',href:'/lc-blacklist'},
        {separator:1},
        {name:'Книги',href:'/lc-books',turbo:'false'},
        {name:'Магазин',href:'lc-shop'},
        {name:'Блог',href:'/lc-blog'},
        {name:'Видеоблог',href:'lc-videoblog'},
        {name:'Подписки',href:'/lc-subscriptions'},
        {name:'Подписчики',href:'/lc-subscribers'},
        {name:'Награды',href:'lc-awards'},
        {name:'Комментарии',href:'/lc-comments'},
        {name:'Репосты',href:'/lc-reposts'},
        {separator:1},
        {name:'Коммерческий кабинет',href:'/lc-commercial',turbo:'false'},
        {name:'Реферальная программа',href:'/lc-referral',turbo:'false'},
        {name:'Статистика прочтений',href:'/lc-read-statistic',turbo:'false'},
        {name:'Реклама',href:'/lc-advert',turbo:'false'},
        {name:'Промокоды',href:'/lc-promocodes'},
        {name:'Скидки',href:'/lc-discounts'},
        {separator:1},
        {name:'Настройки',href:'/lc-settings'},
        ]) %}
        {% if link.separator %}
            <div class="{{separatorClass ?:'personal-area__sidebar-separator'}}"></div>
        {% else %}

        {% if link.href %}
            <a class="{{aClass}} {{currentPagePath == link.href ? 'active' : '' }}"
               data-turbo="{{link.turbo|default('true')}}" href="{{link.href}}">{{link.name}}</a>
        {% else %}
            <a class="{{aClass}} disabled">{{link.name}}</a>
        {% endif %}

        {% endif %}
    {% endfor %}
</div>
<!--/lc-read-statistic-->
