{% set aClass = linkClass?:'personal-area__sidebar-separator' %}
<div class="{{containerClass ?:'personal-area__sidebar ui-col-sm-3'}}">
    {% for link in collect([
    {name:'Профиль',href:'/lc-profile',turbo:'false'},
    {name:'Приватность',href:'/lc-privacy'},
    {name:'Уведомления',href:'/lc-notification'},
    {name:'Черный список',href:''},
    {separator:1},
    {name:'Книги',href:'/lc-books',turbo:'false'},
    {name:'Магазин',href:''},
    {name:'Блог',href:''},
    {name:'Видеоблог',href:''},
    {name:'Подписки',href:'/lc-subscriptions'},
    {name:'Подписчики',href:'/lc-subscribers'},
    {name:'Награды',href:''},
    {name:'Комментарии',href:'/lc-comments'},
    {name:'Репосты',href:''},
    {separator:1},
    {name:'Коммерческий кабинет',href:''},
    {name:'Статистика прочтений',href:'/lc-read-statistic',turbo:'false'},
    {name:'Реклама',href:''},
    {name:'Промокоды',href:''},
    {name:'Скидки',href:''},
    {separator:1},
    {name:'Настройки',href:'/lc-settings'},
    ]) %}
    {% if link.separator %}
    <div class="{{separatorClass ?:personal-area__sidebar-separator}}"></div>
    {% else %}
    {% if link.href %}
    <a class="{{aClass}} {{this.page.url == link.href ? 'active' : '' }} "
       data-turbo="{{link.turbo|default('true')}}" href="{{link.href}}">{{link.name}}</a>
    {% else %}
    <a class="{{aClass}} disabled">{{link.name}}</a>
    {% endif %}

    {% endif %}
    {% endfor %}
</div>
